﻿@model Blog4.Models.Comment

<div class="display-field">
    <h2>
        Cách đây :@Html.DisplayFor(model=>model.LastTime)
    </h2>
</div>
<div class="display-field">
    @Html.DisplayFor(model=>model.Body)
</div>