﻿@model Blog3MoHinh.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Like)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Like)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.View)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.View)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
