﻿@model Blog3MoHinh.Models.Rate

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Rate</legend>

        @Html.HiddenFor(model => model.RateID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PostID, "Post")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PostID", String.Empty)
            @Html.ValidationMessageFor(model => model.PostID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
