﻿@model Blog4.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Hoten)
                @Html.TextBoxFor(m => m.Hoten)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.HinhAnh)
                @Html.TextBoxFor(m => m.HinhAnh)
            </li>
            <li>
                @Html.LabelFor(m => m.SobaiDang)
                @Html.TextBoxFor(m => m.SobaiDang)
            </li>
            <li>
                @Html.LabelFor(m => m.SoLuotThich)
                @Html.TextBoxFor(m => m.SoLuotThich)
            </li>
            <li>
                @Html.LabelFor(m => m.SoLuotXem)
                @Html.TextBoxFor(m => m.SoLuotXem)
            </li>
            <li>
                @Html.LabelFor(m => m.LevelID)
                @Html.TextBoxFor(m => m.LevelID)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
