﻿@model Blog4.Models.Level

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Level</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenCapBac)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenCapBac)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoBaiDang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoBaiDang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileUserId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LevelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
