﻿@model Blog4.Models.Level

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Level</legend>

        @Html.HiddenFor(model => model.LevelID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TenCapBac)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenCapBac)
            @Html.ValidationMessageFor(model => model.TenCapBac)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoBaiDang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoBaiDang)
            @Html.ValidationMessageFor(model => model.SoBaiDang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HinhAnh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HinhAnh)
            @Html.ValidationMessageFor(model => model.HinhAnh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileUserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfileUserId)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
