﻿@model IEnumerable<Blog4.Models.Level>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenCapBac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoBaiDang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfileUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenCapBac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoBaiDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfileUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LevelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LevelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LevelID })
        </td>
    </tr>
}

</table>
